<div class="subNav-wrap">
    <div class="subNav-logo">
        <img src="images/icon/logo_zx.svg"/>
        <h2>资讯<i>news</i></h2>
    </div>
    <div class="subNav-menu">
        <ul>
            <li><a href="#">全部</a></li>
            <li><a href="#">最新</a></li>
            <li><a href="#" class="current">市场数据洞察</a></li>
            <li><a href="#">消费者口碑风向标</a></li>
            <li><a href="#">市场预测分析</a></li>
            <li><a href="#">测评报告</a></li>
        </ul>
    </div>
    <div class="subNav-right">
        <span class="sort-bar-off"><i class="icon_base_nav icon-sort-time"><b></b></i>按时间排序</span>
        <span class="sort-bar-on"><i class="icon_base_nav icon-sort-view"></i>按浏览量排序</span>
    </div>
</div>


<div class="newScreen-wrap">
        <ul class="newImgWrap">
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标题题题标题</dt>
                            <dd>3天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标题标题标题标题题题标题</dt>
                            <dd>5小时前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="item">
                    <a href="#">
                        <img src="images/source/img.jpg"/>
                        <dl>
                            <dt>标题标题标题标标题标题标题标题标题标题题题标题</dt>
                            <dd>2天前</dd>
                        </dl>
                    </a>
                </div>
            </li>
        </ul>

    <div class="more">
        <button class="iconBtn iconBtn-primary">更多</button>
    </div>

</div>