<div class="footer-wrap">
    <div class="footer-main">
        <div class="footer-logo"><a href="#" class="icon-logo"></a></div>
        <div class="footer-menu">
           <div class="footer-menu-link">
               <a href="">网站首页</a>
               <a href="">关于我们</a>
               <a href="">联系我们</a>
               <a href="">用户协议</a>
           </div>
           <p class="footer-menu-copyright">&#169 2018 CTTLER / 京ICP备12076188号</p>
        </div>
        <div class="footer-share">
            <i class="icon icon-share-wx" title="微信分享"></i>
            <i class="icon icon-share-wbo" title="微博分享"></i>
            <i class="icon icon-share-iphone" title="微博分享"></i>
        </div>
    </div>
</div>