/* === format size === */
@function getSize($px) {
  @return $px * 1px;
}

/* === position center === */
@mixin positionCenter1{
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: block;
}




/* === button === */
.iconBtn{
  width:162px;
  height:65px;
  cursor:pointer;
}
.iconBtn-primary,a.iconBtn-primary{
  border:3px solid #000;
  background:#D8D8D8;
  font-size:18px;
}
.iconBtn-primary:hover,a.iconBtn-primary:hover{
  border:3px solid #000;
  background:#ffffff;
}